extends layout

block content
    form(action="/file/import" method="POST" enctype="multipart/form-data")
        label
            b Descrição:
        input(type='text', name='description')
        br
        br
        label
            b Data de Execução do Exame:
        input(type='date', name='dateTest')
        br   
        br  
        label
            b Ficheiro:
        input(type='file', name='file')
        br
        br
        input(type='submit', value='Enviar')
